[*.{kt,kts}]
ktlint_code_style = android_studio

ktlint_standard_spacing-between-declarations-with-annotations = disabled
ktlint_standard_wrapping = disabled
ktlint_standard_trailing-comma-on-declaration-site = disabled
ktlint_standard_trailing-comma-on-call-site = disabled
